.about-us {
    @apply w-full;
    .about-us__container {
        @apply grid grid-cols-2 gap-x-8;

        h1 {
            @apply text-center;
        }

        p {
            @apply text-justify;
        }
    }
}

.home-jumbotron {
    @apply min-h-[500px] lg:min-h-[800px] bg-contain lg:bg-cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.home-location {
    @apply py-10;
}

.home-restaurants {
    @apply py-20;

    .home-restaurants__container {
        @apply grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-3 gap-6 pt-8;
    }
}


.policies_screen-section{
    @apply bg-gray-50 border-t border-gray-200;

    .policies_screen-h2{
        @apply sr-only;
    }
    .policies_screen-container{
        @apply max-w-7xl mx-auto py-24 px-4 sm:px-6 sm:py-32 lg:px-8;
    } // practice grid grid-cols-1 gap-y-12 c sm:gap-x-6 lg:grid-cols-4 lg:gap-x-8 lg:gap-y-0
    .policies_screen-grid{
     @apply grid grid-cols-1 gap-y-12 sm:gap-x-6 lg:grid-cols-4 lg:gap-x-8 lg:gap-y-0;
    }
    // practice 
    .policies_screen-name{
     @apply text-center md:flex md:items-start md:text-left lg:block lg:text-center;
    }
    .policies_screen-img-container{
     @apply md:flex-shrink-0;
    }
    .policies_screen-flow-root{
     @apply flow-root;
    }
    .policies_screen-margin{
     @apply -my-1 h-24 w-auto mx-auto;
    } // 
    .policies_screen-name-container{
     @apply mt-6 md:mt-0 md:ml-4 lg:mt-6 lg:ml-0;
    }
    .policies_screen-h3{
     @apply text-sm font-semibold tracking-wide uppercase text-gray-900;
    }
    .policies_screen-description{
     @apply mt-3 text-sm text-gray-500;
    }

 }