.header {
    z-index: 99;
    @apply shadow fixed top-0 w-full bg-white border-b border-gray-200 opacity-95;
    
    .header__nav{
        @apply ml-auto;
    }

    .nav-item {
        margin-right: 0 !important;
    }

    .navbar {
        padding: 1rem 1rem !important;
    }
    
    .header-nav__links, .nav-link {
        @apply transition duration-200;
        font-weight: bolder !important;
        color: #000 !important;

        &:hover {
            color: #0547FC !important;
        }
    }

    .active {
        color: #FB0508 !important;
        background-color: #fff !important;
    }

    .header__search-box {
        @apply flex flex-row;
    }
}

// .header {
//     z-index: 99;
//     @apply bg-white;

//     .header__nav { 
//         .header__nav--container {
//             .header__nav--container-mobile {
//                 @apply md:hidden grid;
//             }
//             .header__nav--container-desktop {
//                 @apply hidden md:grid grid-cols-2 place-items-center;

//                 .header__nav--logo {
//                     img {
//                         @apply w-40;
//                     }
//                 }

//                 .header__nav--lists {
//                     ul {
//                         @apply flex flex-row list-none gap-x-8;
//                     }
//                 }
//             }
//         }
//     }
// }

// .header-shadow {
//     @apply lg:shadow-md;
// }

// .header-sticky {
//     z-index: 99;
//     @apply bg-white sticky top-0;
// }