// Components
@use "components/header";
@use "components/location-box";
@use "components/footer";
@use "components/restaurant-card";

// Client - Screens
@use "screens/client/location";
@use "screens/client/home";
@use "screens/client/product-screen";
@use "screens/client/restaurant-screen";
@use "screens/client/partner-screen";
@use "screens/client/about";
@use "screens/client/login";
@use "screens/client/register";
@use "screens/client/forgot-password";
@use "screens/client/user-profile";
@use "screens/client/payment";

// Seller - Screens
@use "screens/seller/profile";
@use "screens/seller/order-details";

// Admin - Screens
@use "screens/admin/user-edit";

// Generic Styles
.user-location-input {
    @apply flex flex-col lg:flex-row lg:space-x-4 lg:space-y-0 space-y-3 items-center;

    h1 {
        @apply text-xl sm:text-3xl lg:w-[80%] sm:text-left text-center;
        .user-location-input__location{
            @apply text-red-500;
        }
    }

    a {
        @apply bg-yellow-400 text-white py-3 px-4 rounded-md duration-200 transition hover:opacity-70 no-underline lg:w-[20%] text-center;
    }
}

.main-layout {
    @apply pb-5 pt-[8rem];
}

label {
    margin-bottom: 0 !important;
}

body {
    @apply bg-gray-50;
}

input, .form-control {
    @apply block w-full shadow-sm py-3 px-4 focus:border-indigo-500 border border-gray-200 rounded-md;
}

.btn-light {
    @apply border border-gray-200;
    border-radius: 0.375rem !important;
    --tw-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05) !important;
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color) !important;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important;
}

.order-summary__card, .order-details__container {
    @apply shadow border border-gray-200 rounded-md bg-white mt-5;
    border-radius: 0.375rem !important;
}
